.plugin_datatable_datatable {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.plugin_datatable_line {
	display: flex;
	width: 100%;
}

.plugin_datatable_headercell {
	font-weight: bold;
}

.plugin_datatable_cell {
	text-align: left;
	width: -webkit-fill-available;
}

.plugin_datatable_line:nth-child(2n+1) {
	background-color: grey; 
}

.plugin_datatable_line:nth-child(2n) {
	background-color: white; 
}

.plugin_datatable_sortable {
	cursor: pointer;
}

.plugin_datatable_container {
	display: flex;
	flex-direction: column;
}

.plugin_datatable_pretable {
	display: flex;
}

.plugin_datatable_pagination_select {
	width: 50px;
}

.plugin_datatable_search {
	width: 100px;
	margin-left: auto;
}

.plugin_datatable_posttable {
	display: flex;
	margin-left : auto;
}

/* Container de taille fixe */
.plugin_datatable_posttable > div  {
	width: 20px;
}

.plugin_datatable_posttable > div > div {
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.plugin_datatable_posttable > div > div:hover {
	background-color: grey;
}

.plugin_datatable_pagination_button_first {
	background-image: url("images/double_previous.png");
}

.plugin_datatable_pagination_button_previous {
	background-image: url("images/previous.png");
}

.plugin_datatable_pagination_button_next {
	background-image: url("images/next.png");
}

.plugin_datatable_pagination_button_last {
	background-image: url("images/double_next.png");
}

.plugin_datatable_pagination_input {
	width: 30px;
	text-align:center;
}
